body {
  background: darken(white, 5%);
  margin: 0;
  padding: 0;
}

video {
  position: relative;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  /*z-index: -100;*/
  transform: translate(-50%, 0%);
}

#main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#center {
  display: flex;
  justify-content: space-around;
  margin-top: 8%;
  flex-direction: column;
}

#navBar {
  display: flex;
  background: blue;
}
#center-main{
  display: flex;
  flex-direction: column;
}
#center-sub-a {
  background: #383C4E;
  padding: 1%;
}

#center-sub-b {
  background: #60AEEE;
  padding: 1%;

}

#center-sub-c {
  background: #F6A3B7;
  padding: 1%;
}

/*#center-sub video {
  transition: all 1s ease;
}

#center-sub video:hover{
  filter: blur(5px);
  background: green;

}*/

#research-container {
  display: flex;
  flex-direction: column;
}
#research-component {
  display: flex;
  justify-content: center;
  background: red;
  height: 500px;
}
